@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #d5e7f3cc;
    --secondary-color: #3B6F91;
    --accent1-color: #193F58;
    --accent2-color: #21455E;
  
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    
    --nav-background-color: #FFFFFF;
    --nav-link-color: #333333; 
    --nav-hover-link-color: #0066FF; 
    --nav-hover-background-color: #EFEFEF; 
  }

  body {
    font-family: var(--paragraph-font);

  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: var(--heading-font);
      
      color: var(--accent2-color);
}
  
  header {
      padding: 20px;
      background-color: var(--accent1-color);
      display: grid;
      grid-template-columns: 10% 1fr 10% 3fr 5%;
      align-items: center;
  }
header img{
  grid-column: 2;
  
}
  
article p {
      
      color: white;
     
  }
  
div{
    position: relative;


}

article{
    position: absolute;
    top: 200px;
    padding: 20px;
    background-color: var(--accent2-color);
    left: 150px;
    right:160px;
}

article img{
    max-width: 400px;
    height: auto;     
    float: right;

    
}

div h1{
    padding: 20px;
    position: absolute;
    top: 50px;
    text-align: center;
    height: 25px;
    width: 98%;
    background-color: var(--primary-color);

    
}



.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

/* Remove underlines from social media links */
.sociallinks{
  display: flex;
  grid-column: 3;
  justify-content: center;
  gap: 20px;

}
.sociallinks a {
    text-decoration: none;
}

.sociallinks a:hover img {
    opacity: 0.8; /* Slightly dim the icon on hover */
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column: 4/5; 

  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid;
    text-align: center;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }


  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

section1{
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.section1 h2{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.section1 p{
  grid-row: 2;
}

.section2{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 1fr 3fr;
}

.section2 h2{
  grid-column: 1/6;
  grid-row: 1;
  text-align: center;
  
}
figure{
  border: solid;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  
}

figcaption{
  text-align: center;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
}

header, footer, main{
  margin: 0 auto;
  max-width: 100%;
}

footer p{
  grid-column: 2/3;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
